<!-- Favicon -->
<link rel="shortcut icon" href="http://www.sfchronicle.com/favicon.ico" type="image/x-icon">

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= grunt.data.json.project.title %>">
<meta name="twitter:site" content="@sfchronicle">
<meta name="twitter:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug%>">
<meta name="twitter:image" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug + grunt.data.json.project.image %>">
<meta name="twitter:description" content="Chronicle Voter Guide: We reached out to the contenders for key state and local offices for their position on one of the region's most vital issues. See their stance via this interactive report before you vote.">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= grunt.data.json.project.title %>">
<meta property="og:site_name" content="The San Francisco Chronicle">
<meta property="og:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug %>">
<meta property="og:image" content="<%= grunt.data.json.project.url + grunt.data.json.project.slug + grunt.data.json.project.image %>">
<meta property="og:description" content="Chronicle Voter Guide: We reached out to the contenders for key state and local offices for their position on one of the region's most vital issues. See their stance via this interactive report before you vote.">
