.title {
	font-family:@title;
	line-height:1.2;
	font-size:58px;
	margin-top:0;

	@media @mobile{
	font-size:32px;
	}
}

.branding{
	text-align:center;
	margin-top:3.5em;
	font-family:@banner;
	text-transform:uppercase;
	font-size:0.8em;

    a {
      color:@redlinks;
    }
	@media @mobile{
	font-size:0.7em;
	}
}

.deck{
	text-align:center;
	max-width:520px;
    font-size:0.84em;
	font-family:Georgia;
	margin-top:10px;

	@media @mobile{
	  padding: 0 10px;
      margin-bottom: 0.5em;
      font-size: 0.65em;
	}
}


#candidates{
	max-width:900px;
	margin: 0 auto;

	&:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
	}
}

.candidate{
    min-height:300px;
    display:none;
    padding: 0 1%;
    max-width: 650px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    .img{
    max-width:200px;
    margin: 0 auto;

        img{
        width:100%;
        }
    }

    .byline{
    font-family:@df-sans;
    font-size: 10px;
    text-align: left;
    padding: 0;
    margin-bottom:0;
    }

    h3{
    font-family:@df-serif;
    font-weight:300;
    margin:0;
    }

    p{
    text-align:left;
    font-size:0.95em;

      @media @mobile{
        font-size: 0.75em;
      }
    }

    .seat{
    font-size:0.7em;
    text-align:center;
    margin-bottom:0;
    }

    .one{
    max-width: 310px;
    margin-bottom: 1em;
    color: #d24949;
    font-size:0.7em;
    text-align:center;
    }
}

#input{
    text-align: center;
    font-family:'AntennaExtraLight', Helvetica, sans-serif;
    font-size:0.85em;
    margin-bottom:0.5em;
}

#search{
    margin-left:10px;
    padding:5px;
}

#mosaic{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:10px;

    @media @tablet{
    margin-left:0;
    }

    @media @mobile{
    margin-top:1em;
    }

    .name{
    font-size:12px;
    padding:0;
    }
}

.thumbnail{
	-webkit-flex: 0 0 9%;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    padding:0 3px;
    cursor:pointer;

    @media (max-width:870px){
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    }

    @media @mobile{
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    }

	img{
	width:100%;
	}
}

#btn-cont{
    display:inline-block;
}
#showall, .btm-showall{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    cursor:pointer;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    font-size: 0.5em;
    color: @redlinks;
    border-radius: 0;
    text-transform: uppercase;
}

.link, .logo-link {
    padding-top:9px;
    margin-left:0;
}


@media (max-width: 490px){
.desk-logo {
display:block;
}
}

header{
    opacity:1;
}

.note{
    display:block;
    width: 100%;
    font-size: 0.65em;
    font-style: italic;
    margin: 2em 0;
    text-align: center;
    padding:0 20px;

    @media @mobile{
      font-size:12px;
    }
}

.creditcont {
    max-width:722px;
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    padding-top: 2.5em;
}

.creditbox{
    min-height:79px;
    float: left;
    margin-bottom: 20px;
    margin-left: calc(1.66666667%);
    margin-right: calc(1.66666667%);
    font-size: 16px;
    font-family: AntennaRegular;
    text-align: center;

    .title{
    font-family: AntennaExtraLight; 
    display: block; 
    font-size: 12px
    }

    .email{
    font-family: AntennaExtraLight; display: block; font-size: 13px
    }

    .twitter{
    font-family: AntennaExtraLight; display: block; font-size: 13px
    }
}



@media (max-width: 768px){
.creditbox {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
}
@media (max-width: 480px){
.creditbox {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    min-height:0;
}
}

.filter{
    max-width: 900px;
    margin: 0 auto 1em;
    text-align: center;
}

#race-select{
background-color: #fbfbfb;
    border: 1px solid #ccc;
    font-size: 0.6em;
    font-family: 'AntennaExtraLight', Helvetica, sans-serif;

    @media @mobile{
    margin:0 0 1em 0;

    }
}
